@import '../../utilities/variables';
.ticketStatus{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .item2{
    text-align: center;
    height: 100%;
    width: 31% !important;
    box-shadow: 0 0 0.6px 0.1px black;
    // background-color: $bg;
  }
  margin-top: 2vh;
  margin-bottom: 2vh;
}