@import '../../utilities/variables';

.sidenav{
  position: fixed;
  top: 5vh;
  left: 0;
  bottom: 0;
  width:220px;
  max-width: 220px;
  background-color: $side;
  box-shadow: 0 0 0.5px 0.2px black;
  overflow: auto;
  // zoom:0.8
}

@media only screen and (max-width: 768px)  {
  .sidenav{
    display: none;
  }
  .list{
    h2{
      font-size: 18px;
    }
    span{
      font-size: 14px;

    }
  }
}