@import '../../utilities/variables';

.sidenav{
  position: fixed;
  top: 5vh;
  left: 0;
  bottom: 0;
  width:280px;
  max-width: 280px;
  background-color: $side;
  box-shadow: 0 0 0.5px 0.2px black;
  overflow: auto;

}
