@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  font-family: default !important;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}