@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import "./variables";

body {
  font-family: "Rubik" !important;
  margin: 0;
  background-color: $bg;
  color: $text;
}



.flexRow {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.flexCol {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  margin-top: 5vh;
  margin-left: 220px;
  padding: 0 25px;
  background-color: $bg;
}


.daily {
  background-color: white;
  margin-bottom: 2vh;
  box-shadow: 0 0 0.6px 0.1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 55vh;
  div{
    width: 100%;
  }
}
.blocks {
  height: 33vh;
  margin-bottom: 1.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .item {
    background-color: white;
    width: 32%;
    box-shadow: 0 0 0.6px 0.1px black;
    
  }
}

footer {
  height: 3vh;
  text-align: center;
}

h2 {
  margin: 0;
}

::-webkit-scrollbar-track {
  background: $bg;
  box-shadow: 0 0 1px 0.1px $dark;
}

::-webkit-scrollbar-thumb {
  background: $dark;
  border-radius: 1px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

@media only screen and (max-width: 768px)  {
  main{
    margin-left: 0;
  }

  .daily {
    height:fit-content;
  }

  .blocks {
    flex-wrap: wrap;
    height: auto;
    .item {
      width: 100%;
      margin-bottom: 15px;
      height: 35vh;
    }
  }
}