@import "../../utilities/variables";

footer {
  p{
    font-size: 14px !important;
  }
  a {
    text-decoration: none;
    font-weight: bolder;
    color: $dark;
    &:hover {
      color: $blue;
    }
  }
}
