@import '../../utilities/variables';

header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  // bottom: 24px;
  height: 5vh;
  background-color: $dark;
  z-index: 1;
  box-shadow: 0 0 0.5px 0.2px black;
}